<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaomi.push"
    android:versionCode="50012"
    android:versionName="5_1_2-C" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="33" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <meta-data
            android:name="MIPUSH_SDK_VERSION_CODE"
            android:value="50012" />
        <meta-data
            android:name="MIPUSH_SDK_VERSION_NAME"
            android:value="5_1_2-C" />
    </application>

</manifest>